html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --shadow: -2px 4px 7px 0px rgb(0 0 0 / 25%);
}

#root {
  background: linear-gradient(45deg, #242424, #333);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spacer {
  color: #eee;
  margin: 12px 0px;
  padding: 20px;
}

.App {
  position: relative;
  display: flex;
  width: fit-content;
  transform: translateY(20%);
  justify-content: center;
}

.App .column {
  position: relative;
  margin: 10px;
  padding: 20px 5px;
  background-color: #333;
  border-radius: 15px;
  height: fit-content;
  top: 0;
  box-shadow: var(--shadow);
  transition: all 0.5s ease-in-out;
}

.App .number {
  font-size: 16px;
  font-family: monospace;
  color: white;
  position: relative;
  height: 30px;
  width: 40px;
  line-height: 30px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.App .number.active {
  transform: scale(1.3);
  color: lightcoral;
}

.App .number::after {
  content: "";
  position: absolute;
  border-radius: 5%;
  margin: 0 auto;
  opacity: 0;
  box-shadow: var(--shadow);
  transition: all 0.5s ease-in-out;
}

.App .number.active::after {
  opacity: 1;
}
